extends ../base

block content 
    if errorMessage
        span = errorMessage
    form(method="POST")
        input(name="title",placeholder="Title", required, type="text",maxlength=80)
        input(name="description",placeholder="Description", required,maxlength=20)
        input(name="hashtags",placeholder="Hashtags, separated by comma.")
        input(type="submit", value="Upload Videos")