extends base

block content 
    form(method="POST")
        input(name="title",placeholder="Title", required, type="text")
        input(name="rating",placeholder="Rating", required, type="text")
        input(name="comments",placeholder="Comments", required, type="text")
        input(name="createdAt",placeholder="CreateAt", required, type="text")
        input(name="views",placeholder="Views", required, type="text")
        input(name="id",placeholder="id", required, type="text")
        input(type="submit", value="Upload Videos")